$slide-width: 80vw;
$slide-height: 90svh;

$slide-width-sm: 854px;
$slide-height-sm: 480px;

$slide-width-md: 1280px;
$slide-height-md: 720px;

$slide-width-lg: 1920px;
$slide-height-lg: 1080px;

$breakpoint-sm: 1067px;
$breakpoint-md: 1600px;
$breakpoint-lg: 2400px;
