.scroll-x > .snap-stop {
    filter: opacity(0.5);

    &.current {
        filter: opacity(1);
        transition: filter 0.3s ease;
    }
}

.scroll-y > .snap-stop {
    filter: opacity(0.5);

    &.current {
        filter: opacity(1);
        transition: filter 0.3s ease;
    }
}
