body.has-visualFxs {
    .scroll-x > .snap-stop {
        filter: opacity(0.4);
    
        &.current {
            filter: opacity(1);
            transition: filter 0.6s;
            transition-timing-function: cubic-bezier(.49, .16, .89, 1);
        }
    }
    
    .scroll-y > .snap-stop {
        filter: opacity(0.4);
    
        &.current {
            filter: opacity(1);
            transition: filter 0.6s ease;
        }
    }
    
    .menu li:has(.bx--link.bx--link--lg) {
        opacity: 0.5;
    
        :hover,
        &:hover,
        &.current {
            opacity: 1;
        }
    }
}
